<link rel="stylesheet" href="{{ 'filter-bar.css' | asset_url }}" type="text/css">

{% assign collection_title = filter_collection.title | downcase %}
{% assign collection_url = filter_collection.url %}
{% assign page_handle = request.page_type | handle %}
<span style="display:none">cc:{{current_tags}}</span>
<div class="filter-bar filter-bar--{{origin}}">
  <div class="filter-bar__mob-bar filter-bar__mob-bar--{{page_handle}}">
    <div class="filter-bar__mob-bar__breadcrumbs"><a class="breadcrumb-home" href="/">home</a> > <a href="{{collection_url}}">{{ collection_title }}</a> | <span class="collection-product-count">{{ 'collections.general.items_with_count' | t: count: filter_collection.products_count }}</span></div>

    {% if page_handle == "collection" %}

      <div class="filter-bar__mob-bar__action">
        <span>categories </span> 
        <span class="plus">+</span>
        <span class="dash hide">-</span>
      </div>
      <div class="filter-bar__mob-bar__curtag">
        {% if current_tags == blank %}
          <span class="span-link">all</span>
        {% else %}
          <span class="span-link">{{current_tags}}</span>
        {% endif %}
      </div>

    {% else %}

      <div class="filter-bar__tags__mob">
        {% assign tags_list_sort = product.tags %}
        {% for tag in tags_list_sort limit: 10 %}
          {% if tag != filter_collection.title %}
            {% assign tag_handle = tag | downcase | replace: ' ', '-' %}
            {%- assign new_url = filter_collection.url | append: "/" | append: tag_handle -%}
            <a href="{{ new_url }}" class="tag-single-mob {% if current_tags contains tag %}selected{% endif %}"><span class="span-link">{{ tag }}</span></a>
          {% endif %}
        {% endfor %}
      </div>

    {% endif %}

  </div>

  <div class="filter-bar__breadcrumbs"><a href="/">home</a> > <a href="{{collection_url}}">{{ collection_title }}</a> | <span class="collection-product-count">{{ 'collections.general.items_with_count' | t: count: filter_collection.products_count }}</span></div>
  
  {% if page_handle == "collection" %}
    <div class="filter-bar__tags">

      <a class="tag-all {% if current_tags == blank %} selected{% endif %}" href="{{ filter_collection.url }}"><span class="span-link">all</span></a>

      {% assign tags_list_sort = "tees,sweats,shirts & jackets,bottoms,headwear,socks" | split: "," %}

      {% if collection_title == "apparel" %}
        {% assign tags_list_sort = "tees,sweats,shirts & jackets,bottoms,headwear,socks" | split: "," %}
      {% else %}
        {% assign tags_list_sort = filter_collection.all_tags %}
      {% endif %}
      
      <div style="display:none">
        {% for tag in filter_collection.all_tags %}
          <span>{{tag}}</span>
        {% endfor %}
      </div>
      {% for tag in tags_list_sort limit: 10 %}

        {% if tag != filter_collection.title %}
          {% comment %} {%- assign new_url = tag | link_to_tag: tag | split: 'href="' | last | split: '"' | first -%} {% endcomment %}
          {% assign tag_handle = tag | downcase | replace: ' ', '-' %}
          {%- assign new_url = filter_collection.url | append: "/" | append: tag_handle -%}
          <a href="{{ new_url }}" class="tag-single {% if current_tags contains tag %}selected{% endif %}"><span class="span-link">{{ tag }}</span></a>
        {% endif %}
        
      {% endfor %}
    </div>

  {% else %}
     <div class="filter-bar__tags">
      {% assign tags_list_sort = product.tags %}
      
      {% for tag in tags_list_sort limit: 10 %}

        {% if tag != filter_collection.title %}
          {% assign tag_handle = tag | downcase | replace: ' ', '-' %}
          {%- assign new_url = filter_collection.url | append: "/" | append: tag_handle -%}
          <a href="{{ new_url }}" class="tag-single {% if current_tags contains tag %}selected{% endif %}"><span class="span-link">{{ tag }}</span></a>
        {% endif %}
        
      {% endfor %}
    </div>
  {% endif %}


</div>