<div class="site_newsletter">
    {%- assign formId = 'Contact-Newsletter' -%}
    {% form 'customer', id: formId, novalidate: 'novalidate' %}
    {%- if form.posted_successfully? -%}
        <p class="form-message form-message--success" tabindex="-1" data-form-status>
        {{ 'general.newsletter_form.confirmation' | t }}
        </p>
    {%- endif -%}
    <input type="hidden" name="contact[tags]" value="newsletter">
    <div class="input-group input-group--newsletter {% if form.errors %} input-group--error{% endif %}">
        <input type="email"
        name="contact[email]"
        id="{{ formId }}-email"
        class="input-group__field newsletter__input{% if form.errors %} input--error{% endif %}"
        value="{{ form.email }}"
        placeholder="MAIL"
        aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
        aria-required="true"
        required
        autocorrect="off"
        autocapitalize="off"
        {% if form.errors %}
            aria-invalid="true"
            aria-describedby="{{ formId }}-email-error"
            data-form-status
        {% endif %}>

        {% if form.tags == "newsletter" %}
            <span class="input-error-message site_newsletter-error">Email già registrata oppure invalida!</span>
        {% endif %}

        {% comment %} {% if form.errors contains 'email' %}
            <span id="{{ formId }}-email-error" class="input-error-message">
                <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                <span class="site_newsletter-error">{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
            </span>
        {% endif %} {% endcomment %}


        <span class="input-group__btn">
        <button type="submit" class="btn newsletter__submit" name="commit" >
            <span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
        </button>
        </span>
    </div>
    <span class="form-newsletter-error-check hide">Check your email address</span>

    {% endform %}
</div>