<link rel="stylesheet" href="{{ 'pagination.css' | asset_url }}" type="text/css">

<ul class="list--inline pagination">
  {% unless paginate.previous.is_link %}
    <li class="arrow-prev" aria-hidden="true">
      <a class="btn btn--tertiary btn--narrow" disabled>
        {% include 'icon-funky-arrow' %}
        <span class="icon__fallback-text">{{ 'general.pagination.previous' | t }}</span>
      </a>
    </li>
    {% else %}
    <li class="arrow-prev">
      <a href="{{ paginate.previous.url }}" class="btn btn--tertiary btn--narrow">
        {% include 'icon-funky-arrow' %}
        <span class="icon__fallback-text">{{ 'general.pagination.previous' | t }}</span>
      </a>
    </li>
  {% endunless %}
  <li class="pagination__text">
    {{ 'general.pagination.current_page' | t: current: paginate.current_page, total: paginate.pages }}
  </li>
  {% unless paginate.next.is_link %}
    <li class="arrow-next" aria-hidden="true">
      <a class="btn btn--tertiary btn--narrow" disabled>
        {% include 'icon-funky-arrow' %}
        <span class="icon__fallback-text">{{ 'general.pagination.next' | t }}</span>
      </a>
    </li>
  {% else %}
    <li class="arrow-next">
      <a href="{{ paginate.next.url }}" class="btn btn--tertiary btn--narrow">
        {% include 'icon-funky-arrow' %}
        <span class="icon__fallback-text">{{ 'general.pagination.next' | t }}</span>
      </a>
    </li>
  {% endunless %}
</ul>
