{{ 'contacts.css' | asset_url | stylesheet_tag }}

<div class="boxed">
  <div class="contact-form">

    {%- assign formId = 'ContactForm' -%}
    {% form 'contact', id: formId %}

      <input type="hidden" name="contact[tags]" value="ContactForm">
      <div class="form-container">
        <div class="col-6">
          <div class="form-input">
            <input type="text" id="{{ formId }}-name" name="contact[name]" placeholder="NAME" required>
          </div>
        </div>
        <div class="col-6">
          <div class="form-input">
            <input
              type="email"
              id="{{ formId }}-email"
              name="contact[email]"
              autocorrect="off"
              autocapitalize="off"
              aria-required="true" 
              placeholder="EMAIL" 
              required
              >
          </div>
        </div>
        <div class="col-12">
          <div class="form-input">
            <input type="text" id="{{ formId }}-subject" name="contact[subject]" placeholder="SUBJECT" required>
          </div>
        </div>
        <div class="col-12">
          <div class="form-input">
            <textarea rows="10" id="{{ formId }}-message" name="contact[message]" placeholder="MESSAGE" required></textarea>
          </div>
        </div>

        {%- if form.posted_successfully? -%}
            <p class="form-message form-message--success" data-form-status>
            {{ 'contact.form.post_success' | t }}
            </p>
        {%- endif -%}

        <input type="hidden" id="hidden" name="contact[page]" value="{{ section.settings.hidden_text }}">
 
        <div class="col-12">
          <div class="form-input privacy">
            <input id="privacy" type="checkbox" name="customer[privacy]" required/>
            <label for="privacy" style="font-weight:normal">Confermo di aver preso visione della <a href="/policies/privacy-policy">Privacy Policy</a></label>
          </div>
        </div>

        <input type="submit" class="btn" value="SEND">

      </div>

    {% endform %}
  </div>
</div>

{% schema %}
  {
    "name": "Contacts",
    "settings": [
      {
          "type": "text",
          "id": "hidden_text",
          "label": "Hidden text input"
      }
    ],
    "presets": [
        {
            "name": "Contacts"
        }
    ]
  }
{% endschema %}
