{{ 'mod-paragraph.css' | asset_url | stylesheet_tag }}

<div class="section-paragraph {% if section.settings.border_bottom %}border-bottom{% endif %}" style="{% if section.settings.padding_top %}padding-top:{{section.settings.padding_top}}px;{% endif %} {% if section.settings.padding_bottom %}padding-bottom:{{section.settings.padding_bottom}}px;{% endif %}">
    <div class="boxed">
        <div class="section-paragraph__content">
            <div class="title-description">{{ section.settings.text }}</div>
            {% if section.settings.link_tex != blank %}
                <a class="section-paragraph__content__link section-paragraph__content__link__blog" href="{{ section.settings.link_url }}"><span class="span-link underline">{{ section.settings.link_text }}</span> {% include 'icon-eyes' %} </a>
            {% endif %}
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "Paragraph",
    "settings": [
        {
            "type": "number",
            "id": "padding_top",
            "label": "Padding TOP"
        },
        {
            "type": "number",
            "id": "padding_bottom",
            "label": "Padding BOTTOM"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "text",
            "id": "link_text",
            "label": "Link text"
        },
        {
            "type": "url",
            "id": "link_url",
            "label": "Link url"
        },
        {
            "type": "checkbox",
            "id": "border_bottom",
            "label": "Border Bottom"
        }
    ],
    "presets": [
        {
            "name": "Paragraph"
        }
    ]
  }
{% endschema %}
