{{ 'mod-two-boxes.css' | asset_url | stylesheet_tag }}
<script src="{{ 'mod-two-boxes.js' | asset_url }}" defer="defer"></script>

<div class="section-two-boxes">
    <div class="boxed">
        <div class="boxes-group">
            {% for block in section.blocks %}
                {%- assign img_url = block.settings.image | img_url: 'master' -%}
                <div class="box-cover">
                    <a class="box-single" href="{{ block.settings.url }}">
                        <img class="box-single__image" src="{{ img_url }}" alt="funkysnowboard {{ block.settings.title }}">
                        <div class="box-single__content">
                            <h5 class="box-single__content__title"><span class="span-link">{{ block.settings.title }}</span></h5>
                            <h5><span class="span-link">{{ block.settings.slug }}</span></h5>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


{% schema %}
  {
    "name": "Two Boxes",
    "max_blocks": 4,
    "blocks": [
      {
        "type": "boxes",
        "name": "Boxes",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "text",
                "id": "slug",
                "label": "Slug"
            },
            {
                "type": "url",
                "id": "url",
                "label": "Url"
            }
        ]
      }
    ],
    "presets": [
        {
            "name": "Two Boxes",
            "blocks": [
                {
                "type": "boxes"
                }
            ]
        }
    ]
  }
{% endschema %}
